.Header{
    position: fixed;
	width: 100%;
    display: flex;
    min-height: 80px;
    max-height: 80px;
    background-color: #fff;
    align-items: center;
    border-bottom: 1px solid #000;
    justify-content: space-between;
    
}

.Nome{
    padding-left: 5rem;
}
.Redes{
    padding-right: 4rem;
}

.Header h1{
    font-size: x-large;
    
}
.Header h2{
    font-size: x-large;
    padding-left: 1rem;
}