@media screen and (min-width: 767px){
    .Header{
        position: fixed;
        width: 100%;
        display: flex;
        min-height: 80px;
        max-height: 80px;
        background-color: #fff;
        align-items: center;
        border-bottom: 1px solid #000;
        justify-content: space-between;
        
    }

    .Nome{
        color: #333;
        padding-left: 5rem;
    }
    .Nome :hover{
        color: #000;
    }
    .Redes{
        padding-right: 4rem;
    }

    .Header h1{
        font-size: x-large;
        display: grid;
        
    }
    .Header span{
        font-size: x-large;
        padding-left: 1rem;
    }
    .btnMenu{
        display: none;
    }
    
}
@media screen and (max-width: 766px){
    .Navbar{
        display: none;
    }
    .Redes{
        display: none;
    }
    .Header{
        text-align: center;
        border-bottom: 2px solid #000;
        font-family: -webkit-pictograph;
        display: flex;
	    justify-content: space-evenly;
    }
    .Header h1{
        font-size: xx-large;
        display: grid;
        padding-right: 2rem;
        
    }

    .Header span{
        font-size: xx-large;
        padding-left: 4rem;
    }

    .Nome{
        color: #444;

    }
    
    .btnMenu{
        width: 50px;
        height: 50px;
        font-size: x-large;
        border: none;
        background-color: transparent;
        padding-top: 26px;
    }

}